/* Universal Styles */
body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    font-weight: 600;
}

h2, h3, h4 {
    font-weight: bold;
}

a {
    text-decoration: underline;
    color: seashell;
}


/* Header */
header {
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell; 
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 1;
    background-color: black;
}

.logo {
    height: 50px;
    padding-left: 10px;
    display: flex;
}

nav {
    text-align: right;
    flex-grow: 1;
}

nav span {
    display: inline-block;
    padding: 20px 10px;
}


/* Main Content */
.content {
    padding-top: 69px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Mission Content */
.mission {
    width: 1200px;
    height: 700px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* change image url to local one */
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission .title {
    background-color: black;
    width: 1200px;
}

.title h2, h4 {
    margin: 0;
    padding: 10px;
}


/* Tea of The Month Content */
.featured-tea {
    margin-top: 30px;
}

.image-content {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image {
    padding: 15px;
}

.image img {
    width: 300px;
    height: 200px;
    display: block;
    padding-bottom: 15px;
}